
<% if user_signed_in? %>

    <%= link_to 'New Pin', new_pin_path, class:'btn btn-success' %>

<% end %>

<h1>Mis Pins </h1>

<p id="notice"><%= notice %></p>

   

   <!-- iteramos los pins del usuario ACTUAL.
   se comunica con el metodo mypins del controller pins_controller.rb -->

    <% @pins.each do |pin| %>



      <div class="col-md-3">

          <div class="thumbnail">

              <p><strong><%= pin.name %></strong></p>
                  
               <%= image_tag(pin.photo, class:'img-responsive') %>

              <p><%= pin.description %></p>

          
                 <%= link_to 'Mostrar', pin, class:'btn btn-default btn-xs' %> 

                 <%= link_to 'Editar', edit_pin_path(pin), class:'btn btn-info btn-xs' %>

                 <%= link_to 'Borrar', pin, method: :delete, data: { confirm: 'estas seguro?' }, class:'btn btn-danger btn-xs' %> 
           </div><!-- //cierra thumbnail-->

        </div>  <!-- //cierra col-md-3-->
 

    <% end %>
 
<br>



 

