 <h1>Pins del usario <%= @user_id %></h1>

 <% @pins.each do |pin| %>

      <div class="col-md-3">

          <div class="thumbnail">

              <p><strong><%= pin.name %></strong></p>
                  
               <%= image_tag(pin.photo, class:'img-responsive') %>

              <p><%= pin.description %></p>

                <%= link_to 'Mostrar', pin, class:'btn btn-default btn-xs' %> 
 
                  
           </div><!-- //cierra thumbnail-->

        </div>  <!-- //cierra col-md-3-->
 

    <% end %>