<!-- BARRA NAVEGACION PRINCIPAL SUPERIOR-->
<nav class="navbar navbar-default " role="navigation" style="margin-bottom: 0px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">STREET MUSIC WALL</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

          
         <li><a href="<%= pins_path %>">Ver Todos los Pins</a></li>
        
        <!-- Si el usuario NO esta logueado, mostrar Ingreso y el registros-->
        <% if current_user.nil? %>  
           
        <li><a href="<%= new_user_session_path %>">Ingreso</a> </li>
         <li><a href="<%= new_user_registration_path %>">Registro</a> </li>
       
        <% else %>
         
         <li><a href="<%= mypins_path %>">Ver Mis Pins!</a></li>        
           
        <li>
        <a href="<%= mypins_path %>">
         <% if user_signed_in? %>
               Hola, <%= current_user.name %>,  <%= current_user.email %>               
          <% end %>
        </a>
        </li>
 

        <li><a href="<%= destroy_user_session_path %>" data-method="DELETE">Salir</a></li>
        

        <% end %>
 
 
      </ul>
      
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- //BARRA NAVEGACION PRINCIPAL SUPERIOR-->